<div class="prepend-1 myColumn">
  <h2 id="bookHeader">My Book</h2>
  <div class="imageArea">
    <div>
      <%= link_to image_tag("bookThumb.png", :class => "primaryPic"), mybook_path %>
    </div>
    <div  id="bookThumbImage" class="iestuff">
      <%= link_to image_tag("bookThumb2.png", :class=>"secondaryPic"), mybook_path %>
    </div>
  </div>
  <div class="innerColumn white redBorder">
    <p>
    Test-Driven Development will change how you program in C.  My book can help you get started.
    </p>
  </div>
  <div class="iebelowp">
    <%= image_tag("bottomOfRed.png", :class => "innerColumnImage") %>
  </div>
</div>
<div class="prepend-half myColumn">
  <h2 id="websiteHeader">My Business</h2>
  <div class="imageArea">
    <div>
      <%= link_to image_tag("websiteThumb.png", :class => "primaryPic"), "http://www.renaissancesoftware.net" %>
    </div>
    <div id="websiteThumbImage" class="iestuff">
      <%= link_to image_tag("websiteThumb2.png", :class=>"secondaryPic"), "http://www.renaissancesoftware.net" %>
    </div>
  </div>
  <div class="innerColumn white purpleBorder">
    <p>
      I train, consult and coach worldwide, helping embedded developers improve their craft. Visit my business website to find out more.
    </p>
  </div>
  <div class="iebelowp">
    <%= image_tag("bottomOfPurple.png", :class => "innerColumnImage") %>
  </div>
</div>
<div class="prepend-half append-1 myColumn">
  <h2 id="blogHeader">My Blog</h2>
  <div class="imageArea">
    <div>
      <%= link_to image_tag("blogThumb.png", :class => "primaryPic"), "http://www.renaissancesoftware.net/blog/" %>
    </div>
    <div id="blogThumbImage" class="iestuff">
      <%= link_to image_tag("blogThumb2.png", :class=>"secondaryPic"), "http://www.renaissancesoftware.net/blog/" %>
    </div>
  </div>
  <div class="innerColumn white greenBorder">
    <p>
    Read my articles on agile development on my blog.
    </p>
  </div>
  <div class="iebelowp">
    <%= image_tag("bottomOfGreen.png", :class => "innerColumnImage") %>
  </div>
</div>
