<div class="prepend-1 myColumn">
  <h2 id="bookHeader">My Book</h2>
  <div class="imageArea">
    <%= link_to image_tag("bookThumb.png"), "http://pragprog.com/titles/jgade/test-driven-development-for-embedded-c" %>
    <div  id="bookThumbImage">
      <%= link_to image_tag("bookThumb2.png", :class=>"secondaryPic"), "http://pragprog.com/titles/jgade/test-driven-development-for-embedded-c" %>
    </div>
  </div>
  <div class="innerColumn red">
    <p>
    Something about my book shall go here! Continuing something about my book, this is a test to see how it looks.
    </p>
  </div>
  <%= image_tag("bottomOfRed.png", :class => "innerColumnImage") %>
</div>
<div class="prepend-half myColumn">
  <h2 id="websiteHeader">My Business</h2>
  <div class="imageArea">
    <%= link_to image_tag("websiteThumb.png"), "http://www.renaissancesoftware.net" %>
    <div id="websiteThumbImage">
      <%= link_to image_tag("websiteThumb2.png", :class=>"secondaryPic"), "http://www.renaissancesoftware.net" %>
    </div>
  </div>
  <div class="innerColumn purple">
    <p>
    Something about my business shall go here! Continuing something about my business, this is a test to see how it looks.
    </p>
  </div>
  <%= image_tag("bottomOfPurple.png", :class => "innerColumnImage") %>
</div>
<div class="prepend-half append-1 myColumn">
  <h2 id="blogHeader">My Blog</h2>
  <div class="imageArea">
    <%= link_to image_tag("blogThumb.png"), "http://www.renaissancesoftware.net/blog/" %>
    <div id="blogThumbImage">
      <%= link_to image_tag("blogThumb2.png", :class=>"secondaryPic"), "http://www.renaissancesoftware.net/blog/" %>
    </div>
  </div>
  <div class="innerColumn green">
    <p>
    Something about my blog shall go here! Continuing something about my blog, this is a test to see how it looks.
    </p>
  </div>
  <%= image_tag("bottomOfGreen.png", :class => "innerColumnImage") %>
</div>
