<div class="prepend-1 append-half infoArea">
  <h2 class="header-underline-blue header-spacing" id="bookHeader">About The Book</h2>
</div>
<div id="pragProgLogoArea" class="prepend-1 append-half infoArea">
  <%= link_to image_tag("pragProgLogo.png", :class => "infoImage"), "http://pragprog.com/titles/jgade/test-driven-development-for-embedded-c" %>
  <div id="pragProgInfo" class="blueBorderTopBotRight">
    <p class="paragraphInfo">Find my book <span class="bookTitle">Test Driven Development For Embedded C</span> on the <%= link_to "Pragmatic Programmers bookshelf.", "http://pragprog.com/titles/jgade/test-driven-development-for-embedded-c" %></p>
  </div>
</div>
<div id="bookInfoArea" class="prepend-1 append-half infoArea">
  <%= image_tag("bookThumb2.png", :class => "infoImage") %>
  <div id="bookInfo" class="blueBorderTopBotLeft">
    <p class="paragraphInfo">Another day without Test-Driven Development means more time wasted chasing bugs and watching your code deteriorate. You thought TDD was for someone else, but it's not! It's for you, the embedded C programmer. TDD helps you prevent defects and build software with a long useful life. This is the first book to teach the hows and whys of TDD for C programmers.</p>
  </div>
</div>
<div id="bookInfoArea2" class="prepend-1 append-half infoArea">
  <%= image_tag("bookThumb.png", :class => "infoImage") %>
  <div id="bookInfo2" class="blueBorderTopBotRight">
    <p class="paragraphInfo">TDD is a modern programming practice C developers need to know. It's a different way to program---unit tests are written in a tight feedback loop with the production code, assuring your code does what you think. You get valuable feedback every few minutes. You find mistakes before they become bugs. You get early warning of design problems. You get immediate notification of side effect defects. You get to spend more time adding valuable features to your product.</p>
  </div>
</div>
<br/>
<div class="prepend-1 append-half infoArea">
  <h2 class="header-underline-blue header-spacing" id="websiteHeader">Book Reviews</h2>
</div>
<div id="bookInfoArea" class="prepend-1 append-half infoArea">
  <div class="quoteArea">
    <%= image_tag("frameWithQuotes.png", :class => "infoImage") %>
    <p>Test Driven Development for Embedded C is ...</p>
  </div>
  <div id="bookInfo" class="blueBorderTopBotLeft">
    <p class="paragraphInfo"><%= link_to "From Mike Long's Blog:", "https://meekrosoft.wordpress.com/2011/03/25/book-review-test-driven-development-for-embedded-c-beta/" %>&nbsp&nbsp&nbsp"Test-Driven Development for Embedded C is an excellent book by James W. Grenning[1]. This is a book not only about the what of embedded test-driven development, but also the why. Starting from the very basics of unit testing C code, it goes through the whole skillset required to test embedded software."</p>
  </div>
</div>
<div id="bookInfoArea2" class="prepend-1 append-half infoArea">
  <div class="quoteArea2">
    <%= image_tag("frameWithQuotes.png", :class => "infoImage") %>
    <p>... its exactly what I was hoping for. Grenning starts out ... </p>
  </div>
  <div id="bookInfo2" class="blueBorderTopBotRight">
    <p class="paragraphInfo"><%= link_to "From Mind Tribe:", "http://mindtribe.com/2011/04/check-it-out-test-driven-development-for-embedded-c/#more-1810" %>&nbsp&nbsp&nbsp"I have a few chapters left to read but, so far, it’s exactly what I was hoping for. Grenning starts out with a brief introduction to TDD, explaining the need for it, but doesn’t dwell here for too long. He likely assumes that anyone motivated enough to read this book has felt the pain of a Debug-Later Testing approach. Very quickly, he jumps into the example of an LED driver written in C."</p>
  </div>
</div>
<div id="bookInfoArea" class="prepend-1 append-half infoArea">
  <div class="quoteArea">
    <%= image_tag("frameWithQuotes.png", :class => "infoImage") %>
    <p>The central idea behind TDD is that software ...</p>
  </div>
  <div id="bookInfoLarge" class="blueBorderTopBotLeft">
    <p class="paragraphInfo"><%= link_to "From Embedded Gurus' Blog:", "http://embeddedgurus.com/state-space/2011/08/on-the-origin-of-software-by-means-of-artificial-selection/" %>&nbsp&nbsp&nbsp"If you haven’t put your hands on the recent James Grenning’s book “Test-Driven Development for Embedded C” yet, I highly recommend you do. Here is why.
    First, you need to realize that this book is not really about testing–it is about software development. The central idea behind TDD (Test-Driven Development) is that software, as any complex system in nature, has to evolve gradually and has to keep working throughout all the development stages."</p>
  </div>
</div>
