<div id="header"> 
  <div class="span-13 prepend-1">
    <h1 id="<%= @page_header[:headerId].to_s() %>" class="span-15">
      <%= link_to @page_header[:name], @page_header[:link], :id=>@page_header[:theid]%>
    </h1>
  </div>
  <ul id="navigation" class="last">
    <li >
      <%= link_to "Home", root_path, :class => "header-navigation" %>
    </li>
    <li id="bookLink">
      <%= link_to "My Book", mybook_path, :class => "header-navigation brighter-red" %>
    </li>
    <li  id="businessLink">
      <%= link_to "My Business", "http://www.renaissancesoftware.net",  :class => "header-navigation brighter-purple" %>
    </li>
    <li id="blogLink">
      <%= link_to "My Blog", "http://www.renaissancesoftware.net/blog/",  :class => "header-navigation brighter-green" %>
    </li>
  </ul>
</div>
<div id="below-header">
</div>
<div id="below-header2">
</div>

