<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
me Help Sign in
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%= render "layouts/stylesheets" %>
    <!--[if IE]>
    <style type="text/css">
      div.iestuff {
      margin-top: -5px;
      }
      div.iebelowp {
      margin-top: -4px;
      }
    </style>
    <![endif]-->
    <%= javascript_include_tag "jquery-1.4.4.min" %>
    <%= javascript_include_tag "jquery-ui" %>
    <%= javascript_include_tag "headerNavigation" %>
    <%= javascript_include_tag "twitterFeed" %>
  </head>
  <body>
    <%= render "layouts/header", :locals => { :page_header => @page_header } %>
    <div id="container">
      <div id="body-interior">
        <div id="sidebar">
          <div id="twitter-area">
            <%= link_to image_tag("twitterBirdAnimated.gif", :id=>"follow-me-on-twitter-image"), "http://twitter.com/jwgrenning" %>
            <div id="twitter-feed">
            </div>
          </div>
        </div>
        <div id="main-content">
          <%= yield %>
        </div>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
